.landing {
  margin-block: 8rem;
}

.linkedIn {
  margin-top: 1rem;
}

.middle {
  vertical-align: middle;
}

.title-wrapper {
  line-height: 1.4;
}

.title {
  color: var(--blue-primary-500);
  font-size: 5rem;
}

.subtitle {
  font-size: 2rem;
}

.portrait {
  display: inline-block;
  width: 400px;
  height: 400px;
  background-image: linear-gradient(
    to bottom,
    var(--blue-primary-500) 0%,
    var(--clr-white) 100%
  );
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.portrait img {
  object-fit: cover;
}
